<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    @await RenderSectionAsync("StylesSection", false)
</head>
<body>

@RenderBody()

<h3 style="margin: auto; text-align: center">Copyright &copy; 2010-@DateTime.Now.Year</h3>
</body>
</html>