@{
    ViewData["Title"] = "Tag Helpers - Bold";
}

<p bold>This is bold paragraph ?</p><br>
<bold>This text is bold ?</bold><br>
<span bold>this line with bold attribute is bold ?</span><br>
<span>this line without bold attribute is bold ?</span>
