
@{
    ViewData["Title"] = "TagHelpers - Email";
}

<h2>Our contacts:</h2>
Support: <email mail-to="support" /><br>
Manufactoring: <email mail-to="manufactoring"/><br>
Sales: <async-email>sales</async-email>
